.dica-div {
    background-color: #fff6d6;
    border-left: 4px solid #ffdd36;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.dica-titulo {
    color: #161616;
}

.dica-texto {
    color: #353535;
    margin: 5px 0;
}

.input-textarea-avaliacao {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #001034;
    background: #f0f0f0;
    color: black;
}