.dica-div {
    background-color: #fff6d6;
    border-left: 4px solid #ffdd36;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.dica-titulo {
    color: #161616;
}

.dica-texto {
    color: #353535;
    margin: 5px 0;
}

.label-etapas {
    font-size: 1.1em;
    color: black;
    margin: 5px 0;
}

.input-textarea-avaliacao {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #001034;
    background: #f0f0f0;
    color: black;
}

.nota-adicional-div{
    background-color: #d6efff;
    border-left: 4px solid #36abff;
    margin: 0 40px 20px 10px;
    padding: 5px 0 5px 3px;
    border-radius: 4px;
}

.nota-adicional-resultado {
    font-size: 1em;
    margin: 0;
}