/* Adicione isso ao seu arquivo CSS */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.label-documento-evidencia {
  font-size: 1.1em;
  color: white;
  margin: 5px 0;
}

.label-arquivo-evidencia {
  font-size: 1.1em;
  color: white;
  margin: 5px 0;
}

.management-project-container {
  display: flex;
  flex-direction: column;
}

.management-project-title {
  font-size: 20px;
}

.title-processo-evidencia {
  color: black;
}

.title-resultado-evidenci {
  color: black;
}

.title-projeto-evidencia {
  color: black;
}

.title-evidencia {
  color: black;
}

.form-section-document {
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  background: #001034;
  padding: 30px;
  border-radius: 20px;
  margin: 15px;
}

.title-document {
  color: #ffff;
}

.input-wrapper-file-document {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0px;
  gap: 10px;
}

.input-field-file-document {
  display: none;
}

.input-field-file-document + label {
  padding: 10px;
  background-color: #00437e;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-field-file-document + label:hover {
  background-color: #0066cc;
}

.arquivo-adicionado {
  color: #ffff;
}

.acoes-botao {
  padding: 10px 10px;
  font-size: 1em;
  font-weight: bolder;
  color: white;
  border: 4px solid #00437e;
  border-radius: 18px;
  cursor: pointer;
  background-color: #001034;
  transition: background-color 0.3s;
}

.acoes-botao:hover {
  background-color: #00437e;
}

.acoes-botao-document {
  padding: 10px 10px;
  font-size: 1em;
  font-weight: bolder;
  color: white;
  border: 3px solid #00437e;
  border-radius: 13px;
  cursor: pointer;
  background-color: #001034;
  transition: background-color 0.3s;
}

.acoes-botao-document:hover {
  background-color: #00437e;
}

table {
  width: 100%;
}

.input-botoes-documento-preenchido td{
  display: flex;
  align-items: center;
  width: 100%;
}

.input-field-documento-preenchido {
  width: 15em;
  height: 40px;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
  max-width: 100%;
  word-wrap: break-word;
  resize: none;
}

