.management-etapa4-title {
    color: #ffffff;
    font-size: 1.6em;
    margin-bottom: 20px;
    text-align: center;
    word-wrap: break-word;
    overflow: auto;
}

.title-proceso-caracterizaca {
    color: black;
}
  
.title-resultado-caracterizacao {
    color: black;
}
  
.title-projeto-caracterizacao {
    color: black;
}

.title-evidencia-caracterizacao {
    color: black;

}

.select-grau {
    width: 50%;
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em;
    box-sizing: border-box;
    max-width: 100%;
    word-wrap: break-word;
}