.sidebar {
  width: 200px;
  background-color: #f8f9fa; /* Cor de fundo */
  border-right: 1px solid #ced4da; /* Borda à direita */
  padding: 20px 40px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar h3 {
  color: #495057; /* Cor do título */
  font-size: 1.2em; /* Tamanho da fonte do título */
  margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilo para os botões desabilitados */
button.button-disabled {
  background-color: #d3d3d3 !important; /* Cor de fundo cinza */
  color: #6c757d !important; /* Cor do texto cinza */
  cursor: not-allowed !important; /* Cursor que indica que não pode ser clicado */
  border-color: #ced4da !important; /* Cor da borda */
}

.evaluation-title {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

.main-content-evaluation {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea-field {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.checkbox-input {
  margin-right: 10px;
}

.mensagem-usuario {
  color: white;
}

.main-content-evaluation {
  flex: 1;
  padding: 20px;
}

.textarea-field {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.checkbox-input {
  margin-right: 10px;
}

.mensagem-usuario {
  color: white;
}