.botoes-home {
    display: flex;
    justify-content: space-between;
}

.botao-home {
    font-size: 1.2em;
    font-weight: 900;
    background-color: #001034;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 3em;
    padding: 1em 1em;
    transition: background-color 0.3s ease;
    margin-right: 3em;
}

.botao-home:last-child {
    margin-right: 0;
}

.botao-home:hover {
    background-color: #001a56;
}

.botao-home-avaliacao {
    /* //background-color: #001034; */
    font-weight: bolder;
    color: #001034;
    border: 2px solid #001034;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s
}

.botoes-avaliacao {
    display: flex;
    gap: 10px;
}

.botao-home-avaliacao:hover {
    background-color: #001034;
    color: white;
}

.button-close-form {
    position: absolute;
    top: 15px;
    right: 20px;
    border: none;
    background: none;
    cursor: pointer;
    color: #00437e;
}

.form-end-button {
    padding: 10px 20px;
    font-size: 1.1em;
    font-weight: bolder;
    color: white;
    border: 4px solid #00437e;
    border-radius: 12px;
    cursor: pointer;
    background-color: #001034;
    transition: background-color 0.3s;
}

.form-end-button:hover {
    background-color: #00437e;
}

.button-add-email {
    padding: 3px 10px 0px 10px;
    font-weight: bolder;
    color: white;
    border: 3px solid #00437e;
    border-radius: 15px;
    cursor: pointer;
    background-color: #001034;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.button-add-email:hover {
    background-color: #00437e;
}

.button-remove-email {
    margin-top: 5px;
    padding: 5px 10px;
    border: 3px solid #7e0000;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    background-color: #001034;
    transition: background-color 0.3s;
}

.button-remove-email:hover {
    background-color: #7e0000;
}

.botoes-modelo {
    display: flex;
    justify-content: space-between;
}

.botao-modelo {
    font-size: 1.2em;
    font-weight: 900;
    background-color: #001034;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 2em;
    padding: 1em 1em;
    transition: background-color 0.3s ease;
    margin-right: 3em;
}

.botao-modelo:last-child {
    margin-right: 0;
}

.botao-modelo:hover {
    background-color: #001a56;
}

.acoes-td-niveis {
    width: 13em;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-left: auto;
}

.button-acao-niveis {
    padding: 10px 5px;
    font-size: 1em;
    font-weight: bolder;
    color: white;
    border: 4px solid #00437e;
    border-radius: 18px;
    cursor: pointer;
    background-color: #001034;
    transition: background-color 0.3s;
}

.button-acao-niveis:hover {
    background-color: #00437e;
}

.button-acao {
    padding: 10px 5px;
    font-size: 1em;
    font-weight: bolder;
    color: white;
    border: 4px solid #00437e;
    border-radius: 18px;
    cursor: pointer;
    background-color: #001034;
    transition: background-color 0.3s;
}

.button-acao:hover {
    background-color: #00437e;
}

.sidebar button {
    width: 100%; /* Botão ocupa a largura inteira do bloco */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0; /* Remova as bordas arredondadas */
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.sidebar button:first-child {
    border-top-left-radius: 5px; /* Adicione borda arredondada apenas ao primeiro botão */
    border-top-right-radius: 5px;
}
  
.sidebar button:last-child {
    border-bottom-left-radius: 5px; /* Adicione borda arredondada apenas ao último botão */
    border-bottom-right-radius: 5px;
}
  
.sidebar button:hover {
    background-color: #0056b3;
}
  
.sidebar button.current-step {
    background-color: #28a745; /* Cor de fundo para indicar a etapa atual */
}

.button-acao-projeto {
    padding: 8px 8px;
    font-size: 1em;
    font-weight: bolder;
    color: white;
    border: 4px solid #00437e;
    border-radius: 18px;
    cursor: pointer;
    background-color: #001034;
    transition: background-color 0.3s;
    float: right;
}

.button-acao-projeto:hover {
    background-color: #00437e;
}

.button-add-project {
    padding: 10px 10px;
    font-size: 1em;
    font-weight: bolder;
    color: white;
    border: 4px solid #00437e;
    border-radius: 18px;
    cursor: pointer;
    background-color: #001034;
    transition: background-color 0.3s;
}

.button-add-project:hover {
    background-color: #00437e;
}

.button-next {
    margin-top: 10px;
    align-self: first baseline;
    padding: 9px 10px 6px 10px;
    font-weight: bolder;
    color: white;
    border: 3.5px solid #00437e;
    border-radius: 15px;
    cursor: pointer;
    background-color: #001034;
    transition: background-color 0.3s;
}
  
.button-next:hover {
    background-color: #00437e;
}