.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-etapa {
    display: flex;
    flex-direction: column;
}