body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
}

.create-evaluation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f8;
    font-family: 'Arial', sans-serif;
}

.form-section {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background: #001034;
    padding: 30px;
    border-radius: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    border: none;
    background: none;
    cursor: pointer;
    color: #00437e;
}

.create-evaluation-title {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.lista-input {
    
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-bottom: 10px;
}

.label {
    font-size: 1.1em;
    color: #ffffff;
    margin: 5px 0;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

/* .input-group {
    display: flex;
    align-items: center;
    width: 100%;
} */

/* .remove-button, .add-button {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-button:hover {
    background-color: #c82333;
}

.add-button {
    background-color: #007bff;
}

.add-button:hover {
    background-color: #0069d9;
} */

.button {
    padding: 10px 20px;
    font-size: 1.1em;
    font-weight: bolder;
    color: white;
    border: 4px solid #00437e;
    border-radius: 12px;
    cursor: pointer;
    background-color: #001034;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #00437e;
}

.logo-and-button {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: 10em;
}