body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
}

.management-project-container {
    display: flex;
    flex-direction: column;
}

.management-project-title {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.input-wrapper-project {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-bottom: 10px;
    flex: 1;
}

.checkbox-wrapper-project {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-project {
    width: 20px;
    height: 20px;
    background: #f4f4f4;
    border-radius: 3px;
    vertical-align: middle;
    border: 1px solid #dcdcdc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
}

.checkbox-project:checked {
    background: #007BFF;
    border-color: #007BFF;
}

.checkbox-project:checked::after {
    content: '';
    width: 12px;
    height: 6px;
    border: solid white;
    border-width: 0 0 2px 2px; /* Ajuste a largura da borda aqui */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); /* Ajuste a rotação aqui */
}

.button-add-project {
    padding: 10px 5px;
    font-size: 1em;
    font-weight: bolder;
    color: white;
    border: 4px solid #00437e;
    border-radius: 18px;
    cursor: pointer;
    background-color: #001034;
    transition: background-color 0.3s;
}

.button-add-project:hover {
    background-color: #00437e;
}

.button-next {
    align-self: first baseline;
    padding: 9px 10px 6px 10px;
    font-weight: bolder;
    color: white;
    border: 3px solid #00437e;
    border-radius: 15px;
    cursor: pointer;
    background-color: #001034;
    transition: background-color 0.3s;
}

.button-next:hover {
    background-color: #00437e;
}