body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
}

.management-project-container {
    display: flex;
    flex-direction: column;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Ajuste a altura conforme necessário */
}

.management-project-title {
    color: #ffffff;
    font-size: 1.6em;
    margin-bottom: 20px;
    text-align: center;
    word-wrap: break-word;
    overflow: auto;
}

.input-wrapper-project {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-bottom: 10px;
    flex: 1;
}

.checkbox-wrapper-project {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-project {
    width: 20px;
    height: 20px;
    background: #f4f4f4;
    border-radius: 3px;
    vertical-align: middle;
    border: 1px solid #dcdcdc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
}

.checkbox-project:checked {
    background: #007BFF;
    border-color: #007BFF;
}

.checkbox-project:checked::after {
    content: '';
    width: 12px;
    height: 6px;
    border: solid white;
    border-width: 0 0 2px 2px; /* Ajuste a largura da borda aqui */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); /* Ajuste a rotação aqui */
}

.button-add-project {
    padding: 10px 10px;
    font-size: 1em;
    font-weight: bolder;
    color: white;
    border: 4px solid #00437e;
    border-radius: 18px;
    cursor: pointer;
    background-color: #001034;
    transition: background-color 0.3s;
}

.button-add-project:hover {
    background-color: #00437e;
}

.tr-projeto {
    display: flex;
    justify-content: flex-end;
}

.projeto-inserido-td {
    width: 16em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-preenchido-projeto {
    width: 100%;
    height:40px;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    max-width: 100%;
    word-wrap: break-word;
    resize: none;
}

.projeto-checkbox-inserido-td {
    font-size: 20px;
    color: #ffffff;
}

.checkbox-projeto-status {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    vertical-align: middle;
    border: 1px solid #dcdcdc;
    outline: none;
    cursor: pointer;
    position: relative;
    margin-bottom: 5px;
}

.checkbox-projeto-status:checked {
    background: #007BFF;
    border-color: #007BFF;
}

.checkbox-projeto-status:checked::after {
    content: '';
    width: 8px;
    height: 3px;
    border: solid white;
    border-width: 0 0 2px 2px; /* Ajuste a largura da borda aqui */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); /* Ajuste a rotação aqui */
}

.acoes-td-projetos {
    margin-left: 10px;
    text-align: right;
}

.button-acao-projeto {
    padding: 8px 8px;
    font-size: 1em;
    font-weight: bolder;
    color: white;
    border: 4px solid #00437e;
    border-radius: 18px;
    cursor: pointer;
    background-color: #001034;
    transition: background-color 0.3s;
    float: right;
}

.button-acao-projeto:hover {
    background-color: #00437e;
}

.nenhum-encontrado {
    color: #ffffff;
}

.conteudo-etapa {
    color: #ffffff;
}

.button-next {
    margin-top: 10px;
    align-self: first baseline;
    padding: 9px 10px 6px 10px;
    font-weight: bolder;
    color: white;
    border: 3.5px solid #00437e;
    border-radius: 15px;
    cursor: pointer;
    background-color: #001034;
    transition: background-color 0.3s;
}

.button-next:hover {
    background-color: #00437e;
}