.evaluation-container {
  display: flex;
  align-items: flex-start; /* Alinhar itens no início verticalmente */
  justify-content: center; /* Centralizar horizontalmente */
  height: 100vh;
  background-color: #f4f4f8;
  font-family: 'Arial', sans-serif;
}

.sidebar {
  width: 200px;
  background-color: #f8f9fa; /* Cor de fundo */
  border-right: 1px solid #ced4da; /* Borda à direita */
  padding: 20px;
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar h3 {
  color: #495057; /* Cor do título */
  font-size: 1.2em; /* Tamanho da fonte do título */
  margin-bottom: 20px; /* Espaçamento inferior */
}

.sidebar button {
  width: 100%; /* Botão ocupa a largura inteira do bloco */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0; /* Remova as bordas arredondadas */
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar button:first-child {
  border-top-left-radius: 5px; /* Adicione borda arredondada apenas ao primeiro botão */
  border-top-right-radius: 5px;
}

.sidebar button:last-child {
  border-bottom-left-radius: 5px; /* Adicione borda arredondada apenas ao último botão */
  border-bottom-right-radius: 5px;
}

.sidebar button:hover {
  background-color: #0056b3;
}

.sidebar button.current-step {
  background-color: #28a745; /* Cor de fundo para indicar a etapa atual */
}

.sidebar button:disabled {
  background-color: #6c757d; /* Cor de fundo para botões desabilitados */
  cursor: not-allowed;
}

.main-content {
  padding: 20px;
  margin-right: 220px; /* Ajuste conforme necessário */
  flex: 1;
}

.evaluation-title {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

.textarea-field {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.checkbox-input {
  margin-right: 10px;
}