.title-form {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.form-create-evaluation {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background: #001034;
    padding: 30px;
    border-radius: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.form-niveis {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background: #001034;
    padding: 30px;
    border-radius: 20px;
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.form-section-process {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background: #001034;
    padding: 30px;
    border-radius: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.form-resultados-esperados {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background: #001034;
    padding: 30px;
    border-radius: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}