body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    background-color: #f4f4f8;
    font-family: 'Arial', sans-serif;
}

.botoes-home {
    display: flex;
    justify-content: space-between;
}

.botao-home {
    font-size: 1.2em;
    font-weight: 900;
    background-color: #001034;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 3em;
    padding: 1em 1em;
    transition: background-color 0.3s ease;
    margin-right: 3em;
}

.botao-home:last-child {
    margin-right: 0;
}

.botao-home:hover {
    background-color: #001a56;
}

.avaliacoes-lista {
    font-size: 20px;
    margin-top: 40px;
    width: 80%;
}

.title-avaliacoes-criadas {
    font-size: 25px;
}

.avaliacoes-lista p {
    padding-left: 20px;
    margin-bottom: 10px;
}

.avaliacao-item {
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avaliacao-item:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.avaliacao-item p {
    margin: 0;
    padding-left: 30px;
}

.botoes-avaliacao {
    display: flex;
    gap: 10px;
}

.botao-avaliacao {
    /* //background-color: #001034; */
    font-weight: bolder;
    color: #001034;
    border: 2px solid #001034;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s
}

.botao-avaliacao:hover {
    background-color: #001034;
    color: white;
}