body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
}

.modelo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    background-color: #f4f4f8;
    font-family: 'Arial', sans-serif;
}

.botoes-modelo {
    display: flex;
    justify-content: space-between;
}

.botao-modelo {
    font-size: 1.2em;
    font-weight: 900;
    background-color: #001034;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 2em;
    padding: 1em 1em;
    transition: background-color 0.3s ease;
    margin-right: 3em;
}

.botao-modelo:last-child {
    margin-right: 0;
}

.botao-modelo:hover {
    background-color: #001a56;
}