body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
}

.management-process-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-section {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background: #001034;
    padding: 30px;
    border-radius: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    border: none;
    background: none;
    cursor: pointer;
    color: #00437e;
}

.management-process-title {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

/* .lista-input {
    
} */

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-bottom: 10px;
}

.label {
    font-size: 1.1em;
    color: #ffffff;
    margin: 5px 0;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

.button {
    padding: 10px 20px;
    font-size: 1.1em;
    font-weight: bolder;
    color: white;
    border: 4px solid #00437e;
    border-radius: 12px;
    cursor: pointer;
    background-color: #001034;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #00437e;
}

.logo-and-button {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: 10em;
}

.processos-cadastrados-title {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;
    margin-left: 3px;
    text-align: left;
}

tr{
    display: flex;
    align-items: center;
}

td {
    margin: 0px 10px;
}

td:first-child {
    margin-left: 0; /* Remove a margem à esquerda do primeiro td */
}

td:last-child {
    margin-right: 0; /* Remove a margem à esquerda do primeiro td */
}

.nome-inserido-td {
    width: 20em;
    display: flex;
    align-items: center;
}

.input-preenchido {
    width: 100%;
    height:40px;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    max-width: 100%;
    word-wrap: break-word;
    resize: none;
}