body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
}

.resultados-esperados-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.resultados-esperados-form {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background: #001034;
    padding: 30px;
    border-radius: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    border: none;
    background: none;
    cursor: pointer;
    color: #00437e;
}

.resultados-esperados-title {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

/* .lista-select-input {
    
} */

.input-select-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.select-wrapper, .input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-bottom: 10px;
    flex: 1;
}

.label {
    font-size: 1.1em;
    color: #ffffff;
    margin: 5px 0;
}

.input-field, .select-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    max-width: 100%;
    word-wrap: break-word;
    resize: none;
    height: 40px;
}

.input-field::placeholder, .select-field::placeholder, textarea::placeholder {
    color: black;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

.input-field:-ms-input-placeholder, .select-field:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: black;
}

.input-field::-ms-input-placeholder, .select-field::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: black;
}

.input-field, .select-field, textarea {
    /* Restante do seu CSS */
    color: black;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

/* .input-group {
    display: flex;
    align-items: center;
    width: 100%;
} */

/* .remove-button, .add-button {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-button:hover {
    background-color: #c82333;
}

.add-button {
    background-color: #007bff;
}

.add-button:hover {
    background-color: #0069d9;
} */

.button {
    padding: 10px 20px;
    font-size: 1.1em;
    font-weight: bolder;
    color: white;
    border: 4px solid #00437e;
    border-radius: 12px;
    cursor: pointer;
    background-color: #001034;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #00437e;
}

.logo-and-button {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: 10em;
}